@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

html {
  font-size: 10px;

  --ligth: #fff;
  --black: #000;
  --green: #29a71e;
  --red: #e13535;
  --blue: #3675b0;
  --brown: #ffb084;
}
body {
  margin: 0 auto;
  background-color: darkgray;
}
main {
  margin: 20vh auto;
}

/* #region common */
.font-title {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--black);
  margin: 0;
}
.font-item {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
  margin-bottom: 7px;
  margin: 0;
}
.fotn-text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}
.padding {
  box-sizing: border-box;
  padding: 15px 24px;
}
.list {
  margin: 0;
  padding: 0 0 0 22px;
}
/* #endregion */

.modal {
  width: 75.5rem;
  height: 46rem;
  display: grid;
  grid-template-columns: 38% 28% 28%;
  grid-template-rows: 30px 60px 71px 60px 60px 60px 60px 27px;
  background: var(--brown);
  border-radius: 20px;
}
.about {
  justify-self: flex-end;
  align-self: flex-start;
  width: 250px;
  height: 319px;
  grid-column: 1;
  grid-row: 2/8;
  background: var(--ligth);
  box-shadow: 7px 7px 0px var(--black);
  border-radius: 20px;
}
.about-foto {
  width: 101px;
  height: 101px;
  border: 1px solid #eb996b;
  border-radius: 50px;
}
.bio {
  justify-self: flex-end;
  align-self: flex-start;
  width: 400px;
  height: 117px;
  grid-column: 2/4;
  grid-row: 2/4;
  background: var(--ligth);
  box-shadow: 7px 7px 0px var(--black);
  border-radius: 20px;
}
.goals {
  justify-self: flex-end;
  align-self: flex-start;
  width: 189px;
  height: 101px;
  grid-column: 2;
  grid-row: 4/6;
  background: var(--ligth);
  box-shadow: 7px 7px 0px var(--green);
  border-radius: 20px;
}
.frust {
  justify-self: flex-end;
  align-self: flex-start;
  width: 189px;
  height: 165px;
  grid-column: 3;
  grid-row: 4/7;
  background: var(--ligth);
  box-shadow: 7px 7px 0px var(--red);
  border-radius: 20px;
}
.dream {
  justify-self: flex-end;
  align-self: flex-end;
  width: 189px;
  height: 151px;
  grid-column: 2;
  grid-row: 6/9;
  background: var(--ligth);
  box-shadow: 7px 7px 0px var(--blue);
  border-radius: 20px;
}
.want {
  justify-self: flex-end;
  align-self: flex-end;
  width: 250px;
  height: 62px;
  grid-column: 1;
  grid-row: 8;
  background: var(--ligth);
  box-shadow: 7px 7px 0px var(--black);
  border-radius: 20px;
}
.person {
  justify-self: flex-end;
  align-self: flex-end;
  width: 189px;
  height: 89px;
  grid-column: 3;
  grid-row: 7/9;
  background: var(--ligth);
  box-shadow: 7px 7px 0px var(--black);
  border-radius: 20px;
}
